- id = id(tune)

%article
  %h2{id: "tune_#{id}"}
    == #{id}.
    = title(File.join(config[:source], "tunes/#{tune}.xml"), full: true)
%p
  Download:
  = link_to 'ABC', "/tunes/#{tune}.abc"
  = link_to 'PDF', "/tunes/#{tune}.pdf"
  = link_to 'MusicXML', "/tunes/#{tune}.xml"
= image_tag "/tunes/#{tune}.thumb.png"
