---
title: Bulgars
---

%p
  :markdown
    This section contains a few tunes that are clearly not bulgars (such as [A Cholum](#tune_41) and [Mit di Feigelach](#tune_42)), but Kostakowsky's numbering continues throughout; it's not clear why.

= partial 'tune', locals: {tune: 'bulgars_a1', id: 'A.1'}
- (1..5).each do |n|
  = partial 'tune', locals: {tune: "bulgars_#{n}"}
= partial 'tune', locals: {tune: "bulgars_5a"}
- (6..66).each do |n|
  = partial 'tune', locals: {tune: "bulgars_#{n}"}
