---
title: Bulgars
---

= partial 'tune', locals: {tune: 'bulgars_a1', id: 'A.1'}
- (1..5).each do |n|
  = partial 'tune', locals: {tune: "bulgars_#{n}"}
= partial 'tune', locals: {tune: "bulgars_5a"}
- (6..13).each do |n|
  = partial 'tune', locals: {tune: "bulgars_#{n}"}
